body {
   font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 10px;
}

.energy-icon {
    height: 40px;
    width: 40px;
}

.energy-cost {
    height:20px;
    width:20px;
}

.attributes {
    font-size:10px;
    font-weight:bold;
    background-color: goldenrod;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:400px;
}

.ability-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 5px;
}

.ability {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
    width: 400px;
}

.weakness-resistance-wrapper {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    width: 400px;
    font-size:10px;
}

.weak-resist-cost {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    background-color: sandybrown;
    border-radius: 6px;
    border: 9px solid gold;
}

.avatar {
    height: 400px;
    width: 400px;
    background-color:aqua;
    background-image: url('./images/peaceful-forest-bakground.png');
    background-size: cover;
    border: 5px solid gold;
}